In [1]:
import pandas as pd
import pyarrow.parquet as pq

In [8]:
df = pd.read_parquet('part-00014-0d587965-3d8f-41ce-9771-5b8c9024dce9-c000.snappy.parquet') # load .parquet file
pq.read_table('part-00014-0d587965-3d8f-41ce-9771-5b8c9024dce9-c000.snappy.parquet').to_pandas() # decompress
df = df.drop(df.columns[[0, 1, 2, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14]], axis=1) # drop all columns except gender and id
df

            gender         id
0       [Q6581097]    Q210555
1       [Q6581097]    Q210569
2       [Q6581097]    Q210630
3       [Q6581097]    Q210669
4       [Q6581072]    Q210695
...            ...        ...
481758  [Q6581097]  Q45619237
481759  [Q6581097]  Q45619241
481760  [Q6581097]  Q45619243
481761  [Q6581097]  Q45619265
481762  [Q6581097]  Q45619268

[481763 rows x 2 columns]

information from wikidata: male (Q6581097), female (Q6581072), intersex (Q1097630), transgender female (Q1052281), transgender male (Q2449503)

In [7]:
df.to_json(r'speaker_attributes_part-00014.json') #save it as a json file, but format seems wrong